
@model PDR.Web.Models.PROD_MONITOR

@{
    var diffColor = string.Empty;
    var hourColor = string.Empty;
    var statusColor = string.Empty;

    var status = Model.ID_MST_LOSS_GROUP;
    var statusName = Model.MST_LOSS_GROUP.STATUS_NAME;
    var color = Model.MST_LOSS_GROUP.B_COLOR.ToLower();
    var planShot = Model.PLAN_SHOT;
    var actualShot = Model.ACTUAL_SHOT;
    var planDiff = Model.PLAN_DIFF;
    var defect = Model.NG_QTY.ToString();
    var loss = Model.LOSS_TIME.ToString();

    // Display plan shot
    var plan = planShot.ToString();
    if (planShot > 999 || planShot < -999)
    {
        var result = (planShot / 1000);
        plan = result + "K";
    }

    if (planShot > 999999 || planShot < -999999)
    {
        var result = ((double)planShot / 1000000);
        plan = result.ToString("#.##") + "M";
    }

    // Display actual shot
    var actual = actualShot.ToString();
    if (actualShot > 999 || actualShot < -999)
    {
        var result = (actualShot / 1000);
        actual = result + "K";
    }

    if (actualShot > 999999 || actualShot < -999999)
    {
        var result = ((double)actualShot / 1000000);
        actual = result.ToString("#.##") + "M";
    }

    // Display shot diff
    var shotDiff = actualShot - planShot;
    var diff = shotDiff.ToString();
    if (shotDiff > 999 || shotDiff <= -999)
    {
        var result = (shotDiff / 1000);
        diff = result + "K";
    }

    if (shotDiff > 999999 || shotDiff < -999999)
    {
        var result = ((double)shotDiff / 1000000);
        diff = result.ToString("#.##") + "M";
    }

    if (diff.StartsWith("-"))
    {
        diffColor = "red";
    }
    else
    {
        diffColor = "green";
    }

    // Display hour diff
    var hour = TimeSpan.FromMinutes(planDiff).ToString("h\\:mm");
    if (planDiff < 0)
    {
        hour = "-" + hour + "H";
        hourColor = "red";
    }
    else
    {
        hour = "+" + hour + "H";
        hourColor = "green";
    }

    statusColor = color;

    if (status == 3)
    {
        plan = "-";
        actual = "-";
        diff = "-";
        hour = "-";
        defect = "-";
        loss = "-";

        diffColor = "white";
        hourColor = "white";
    }
}

<style type="text/css">

    .green {
        color: #24e53a;
    }

    .red {
        color: red;
    }

    .orange {
        color: orange;
    }

    .yellow {
        color: yellow;
    }

    .white {
        color: white;
    }

    .blue {
        color: white;
    }
</style>

<div class="col">

    <table class="detailTable">
        <tbody>
            <tr>
                <td style="width: 10%;" class="detailCell"><b>@Model.LINE_NAME</b></td>
                <td style="width: 16%;" class="detailCell statusCell @statusColor"><b>@statusName</b></td>
                <td style="width: 13%;" class="detailCell"><b>@plan</b></td>
                <td style="width: 13%;" class="detailCell"><b>@actual</b></td>
                <td style="width: 13%;" class="detailCell @diffColor"><b>@diff</b></td>
                <td style="width: 13%;" class="detailCell @hourColor"><b>@hour</b></td>
                <td style="width: 11%;" class="detailCell"><b>@defect</b></td>
                <td style="width: 11%;" class="detailCell"><b>@loss</b></td>
            </tr>
        </tbody>
    </table>

</div>

